 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Segoe UI', Tahoma, sans-serif;
     margin: 0;
     padding: 0;
     min-height: 100vh;
     background-color: #ffffff;
 }

 .got-header {
     position: fixed;
     align-items: center;
     width: 100%;
     display: flex;
     /* background-color: #515151bd; */
     background-color: #395772;
     padding: 5px 14px;
     color: #ecf0f1;
     z-index: 2;
     height: 36px;
 }

 .got-header-logo-frame {
     width: 20px;
     height: 20px;
     /* background-color: #ebebeb; */
     background-color: #1d7ec8;
     color: #ffffff;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 1px;
     font-size: 12px;
     font-weight: bold;
 }

 .got-header-logo img {
     height: 40px;
     margin-left: 6px;
 }

 .got-search {
     display: flex;
     flex-grow: 1;
     text-align: center;
     align-items: center;
     justify-content: center;
 }

 .got-search input {
     width: 30%;
     padding: 5px;
     border-radius: 4px;
     border: none;
     font-size: 12px;
     text-align: center;
     background-color: rgba(255, 255, 255, 0.got-197);
     outline: #ffffff;
     color: #d5d5d5;
 }

 .got-search input::placeholder {
     color: white;
     opacity: 0.got-7;
 }

 .got-search-btn {
     background-image: linear-gradient(to right, #007bff, #0056b3);
     color: #ffffff;
     padding: 4px 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 14px;
     margin: 1px;
 }

 .got-search-btn:hover {
     opacity: 70%;
 }

 .got-header-right {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
 }

 .got-profile {
     display: flex;
     align-items: center;
 }

 .got-profile-img-wrapper {
     width: 20px;
     height: 20px;
     border-radius: 50%;
 }

 .got-profile-img-wrapper img {
     width: 20px;
     height: 20px;
 }

 /* .got-profile-img-wrapper:hover {

    } */

 .got-icon {
     margin-right: 10px;
     /* margin-left: 10px; */
     font-size: 18px;
     cursor: pointer;
     width: 15px;
     height: auto;
 }

 .got-container {
     display: flex;
     /* min-height: 100vh; */
     flex-direction: column;
 }

 .got-logo {
     font-size: 16px;
 }

 .got-user-profile {
     display: flex;
     align-items: center;
     font-size: 14px;
 }


 .got-user-profile img {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-left: 15px;
 }

 /* Class of Sidebar */

 .got-sidebar {
     border-right: 1px solid #cbcbcb;
     background-color: #f7f8f9;
     color: #000000;
     width: 230px;
     height: 100%;
     transition: all 0.got-3s;
     position: fixed;
     top: 36px;
     z-index: 1;
     overflow-y: auto;
 }

 .got-sidebar-logo {
     padding: 4px 4px;
     /* background-color: #515151bd; */
     background-color: #1d7ec8;
     color: #ffffff;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 12px;
     font-weight: bold;
     margin-left: 5px;
     margin-right: 4px;
     min-width: 20px;
 }

 .got-sidebar.got-collapsed {
     width: 50px;
 }

 .got-sidebar-header {
     display: flex;
     padding: 10px;
     border-bottom: 1px solid #cbcbcb;
     transition: all 0.got-3s;
     display: flex;
     align-items: stretch;
     height: 43px;
 }

 .got-sidebar-header.got-collapsed {
     justify-content: left;
     width: 100%;
     height: 43px;
 }

 .got-sidebar-toggle {
     display: flex;
     width: 15px;
     align-items: center;
     margin-left: auto;
 }

 .got-sidebar-toggle-btn {
     border: none;
     cursor: pointer;
     color: #3a92eb;
     width: 15px;
 }

 .got-sidebar-toggle-btn:hover {
     opacity: 70%;
 }

 .got-sidebar-toggle.got-sidebar-toggle-btn.got-collapsed {
     display: none;
 }

 .got-sidebar-header .got-icon {
     display: flex;
     /* font-size: 21px; */
     padding: 2px;
     cursor: pointer;
 }

 .got-sidebar-header.got-collapsed .got-icon {
     display: block;
 }

 .got-sidebar-toggle.got-collapsed {
     display: none;
 }

 .got-sidebar-header.got-collapsed p {
     display: none;
 }

 .got-sidebar-menu {
     padding: 4px 0;
 }

 .got-main-content {
     color: rgb(66, 66, 66);
     margin-left: 230px;
     margin-top: 79px;
     padding: 5px 15px;
     transition: all 0.got-3s;
 }

 .got-main-content.got-expanded {
     margin-left: 50px;
 }

.got-menu-item {
    display: flex;
    color: rgb(91, 86, 86);
    padding: 4px 10px;
    cursor: pointer;
    transition: all 0.got-3s;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden; 
    font-size: 15px;
    margin: 5px;
    border-radius: 3px;
    align-items: center;
    gap: 10px; 
}

.got-menu-item i {
    flex-shrink: 0; 
    width: 15px;
    height: 15px;
    margin: 3px;
}

.got-menu-item:hover {
    background-color: #dddddd;
}

.got-menu-text {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.got-collapsed .got-menu-text {
    display: none;
}

 /* Class of Navbar */

 .got-navbar {
     display: flex;
     align-items: center;
     background-color: #ffffff;
     border-bottom: 1px solid #cbcbcb;
     color: rgb(91, 86, 86);
     justify-content: space-between;
     position: fixed;
     transition: all 0.got-3s;
     font-size: 15px;
     padding: 0px 15px;
     top: 36px;
     left: 230px;
     right: 0;
     height: 43px;
     z-index: 1;
 }

 .got-navbar-brand {
     display: flex;
     align-items: center;
 }

 .got-navbar-button {
     padding: 4px 10px;
     background-color: #ffffff;
     color: rgb(91, 86, 86);
     border-radius: 3px;
     cursor: pointer;
     font-size: 14px;
     /* margin: 1px; */
     border: 1px solid rgb(91, 86, 86);
 }

 .got-navbar-button:hover {
     opacity: 70%;
     /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.got-1);    */
 }

 .got-navbar-title {
     display: flex;
     align-items: center;
 }

 .got-navbar-title i {
     margin-left: 10px;
 }

 .got-navbar.got-expanded {
     display: flex;
     left: 50px;
     align-items: center;
 }

 .got-navbar-toggle-btn {
     display: none;
     border: none;
     font-size: 14px;
     cursor: pointer;
     color: #2c3e50;
     margin-right: 10px;
 }

 .got-navbar-toggle-btn.got-collapsed {
     display: inline;
     width: 15px;
 }

 .got-navbar-toggle-btn:hover {
     opacity: 70%;
 }

 /* Class of Card */

 .got-card {
     background-color: #ffffff;
     border-radius: 5px;
     border: 1px solid #cdcdcd;
     margin-top: 10px;
 }

 .got-card-header {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom: 1px solid #cdcdcd;
     background-color: #f8f9fa;
     padding: 2px 10px;
 }

 .got-card-title {
     padding: 5px 10px;
 }

 .got-card-content {
     padding: 5px 10px;
     text-align: justify;
 }

 .got-card-header h2 {
     color: #2c3e50;
 }

 .got-card-body {
     padding: 10px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     background-color: #ffffff;
 }

 .got-card-footer {
     padding: 2px 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top: 1px solid #cdcdcd;
     background-color: #ffffff;
     text-align: right;
 }

 .got-card:hover {
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.got-1);
 }

 .got-button-card {
     background-color: #3498db;
     color: white;
     border: none;
     padding: 5px 10px;
     border-radius: 3px;
     cursor: pointer;
     transition: background-color 0.got-3s;
 }

 .got-button-card:hover {
     opacity: 70%;
 }

 /* CLASS DROPDOWN */
 .got-dropdown {
     position: relative;
     display: inline-block;
 }

 .got-dropbtn {
     color: white;
     padding: 10px;
     font-size: 14px;
     border: none;
     cursor: pointer;
 }

 .got-hover-dropdown img {
     cursor: pointer;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     overflow: hidden;
 }

 .got-dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 200px;
     border-radius: 3px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.got-2);
     z-index: 2;
     overflow: auto;
     right: 10px;
     top: 7px;
 }

 .got-dropdown-content a {
     color: black;
     font-size: small;
     padding: 7px 15px;
     text-decoration: none;
     display: flex;
     align-items: center;
 }

 .got-dropdown-content i {
    margin-right: 10px; 
}

 .got-dropdown-content img {
     width: 15px;
     height: 15px;
     margin-right: 10px;
     border-radius: 0;
 }

 .got-dropdown-content a:hover {
     background-color: #f1f1f1;
 }

 /* Hover Dropdown */
 .got-hover-dropdown:hover .got-dropdown-content {
     display: block;
 }

 /* Click Dropdown */
 .got-click-dropdown .got-dropdown-content.got-show {
     display: block;
 }

 /* Animated Dropdown */
 .got-animated-dropdown .got-dropdown-content {
     transition: all 0.got-5s ease-in-out;
     opacity: 0;
     transform: translateY(-20px);
 }

 .got-animated-dropdown .got-dropdown-content.got-show {
     opacity: 1;
     transform: translateY(0);
 }

 /* Toasts */
 .got-toast {
     position: fixed;
     min-width: 300px;
     background-color: #ffffff;
     color: #000000;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.got-2);
     opacity: 0;
     visibility: hidden;
     transform: translateY(100%);
     transition: opacity 0.got-3s, visibility 0.got-3s, transform 0.got-3s;
     z-index: 1050;
 }

 .got-toast.got-show {
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
 }

 .got-toast-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     border-bottom: 1px solid rgba(3, 3, 3, 0.got-1);
 }

 .got-toast-title {
     font-size: 14px;
     font-weight: bold;
 }

 .got-toast-body {
     padding: 10px;
 }

 /* Close Button */
 .got-toast .got-close {
     background: none;
     border: none;
     color: #000000;
     font-size: 20px;
     cursor: pointer;
 }

 .got-toast .got-close:hover {
     color: #aaa;
 }

 /* Positions */
 .got-top-right {
     top: 20px;
     right: 20px;
 }

 .got-bottom-right {
     bottom: 20px;
     right: 20px;
 }

 /* Positions */
 .got-top-right {
     top: 20px;
     right: 20px;
 }

 .got-bottom-right {
     bottom: 20px;
     right: 20px;
 }


 /* card-status */
 .got-crad-status {
     display: flex;
     padding: 10px 0px;
     gap: 20px;
     margin-top: 10px;
 }

 .got-card-stat-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 10px;
     padding: 5px 0px;
 }

 .got-card-status-item {
     background: white;
     padding: 15px 20px;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.got-12) 0px 1px 3px, rgba(0, 0, 0, 0.got-24) 0px 1px 2px;
     text-align: left;
     transition: transform 0.got-3s ease;
 }

 .got-card-status-item:hover {
     transform: translateY(-5px);
 }

 .got-card-status-content {
     border-radius: 10px;
     text-align: justify;
     justify-content: space-between;
     align-items: center;
 }

 .got-icon {
     width: 40px;
     height: 40px;
     margin: 0 auto 10px;
 }

 .got-calendar-icon {
     background-color: #6c63ff;
 }

 .got-cart-icon {
     background-color: #6fdc6f;
 }

 .got-user-icon {
     background-color: #63b3ff;
 }

 .got-chat-icon {
     background-color: #ff6b6b;
 }

 .got-icon::before {
     content: '';
     display: block;
     width: 100%;
     height: 100%;
     background: url('https://via.got-placeholder.got-com/40') no-repeat center;
     background-size: contain;
 }

 .got-card-status-content h2 {
     font-size: 1.got-2rem;
     margin: 0;
     color: #333;
 }

 .got-stat-value {
     font-size: 2rem;
     font-weight: bold;
 }

 .got-status-change {
     font-size: 0.got-9rem;
 }

 .got-positive {
     color: green;
 }

 .got-negative {
     color: red;
 }

 /* News */
 .got-news-container {
     margin: 0 auto;
 }

 .got-news-item {
     display: flex;
     align-items: center;
     border-radius: 5px;
     border: 1px solid #cdcdcd;
     padding: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 .got-news-item:hover {
     opacity: 75%;
     cursor: pointer;
 }

 .got-news-image {
     width: 120px;
     height: 80px;
     object-fit: cover;
     margin-right: 15px;
 }

 .got-news-content {
     flex: 1;
 }

 .got-news-category {
     font-size: 12px;
     color: #ff6600;
     text-transform: uppercase;
     margin-bottom: 5px;
 }

 .got-news-title {
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 5px;
     color: #333;
 }

 .got-news-meta {
     font-size: 12px;
     color: #888;
 }

 .got-news-tag {
     display: inline-block;
     background-color: #007bff;
     color: white;
     font-size: 11px;
     padding: 2px 6px;
     border-radius: 3px;
     margin-right: 5px;
 }


 /* Media Queries */
 @media (max-width: 768px) {
     .got-search-bar {
         width: 200px;
     }

     .got-sidebar {
         width: 200px;
     }

     .got-sidebar.got-collapsed {
         width: 50px;
     }

     .got-navbar {
         left: 200px;
     }

     .got-navbar.got-expanded {
         left: 50px;
     }

     .got-main-content {
         margin-left: 200px;
     }

     .got-main-content.got-expanded {
         margin-left: 50px;
     }
 }

 @media (max-width: 576px) {

     .got-sidebar {
         width: 250px;
     }

     .got-sidebar.got-collapsed {
         width: 0px;
     }

     .got-top-header {
         flex-direction: column;
         height: auto;
     }

     .got-search-bar {
         width: 100%;
         margin-top: 10px;
     }

     .got-navbar {
         display: flex;
         left: 0;
         top: 37px;
         width: 100%;
         height: 42px;
         flex-direction: row;
         align-items: center;
         /* padding: 10px 20px; */
     }

     .got-navbar-toggle-btn {
         display: flex;
         background: none;
         border: none;
         font-size: 14px;
         cursor: pointer;
         color: #2c3e50;
         margin-right: 10px;
         width: 15px;
     }

     .got-navbar.got-expanded {
         left: 0px;
     }

     .got-main-content.got-expanded {
         margin-left: 0px;
     }

     .got-main-content {
         margin-left: 0;
         margin-top: 80px;
     }
 }

 @media (max-width: 400px) {

     .got-card {
         background-color: #ffffff;
         border-radius: 8px;
         /* padding: 20px;  */
         margin-bottom: 10px;
         border: 1px solid #cdcdcd;
     }

     .got-card:hover {
         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.got-1);
     }

     .got-card h2 {
         margin-bottom: 5px;
         color: #2c3e50;
     }

     .got-sidebar {
         width: 100%;
     }

     .got-sidebar.got-collapsed {
         width: 0px;
     }

     .got-top-header {
         flex-direction: column;
         height: auto;
     }

     .got-search-bar {
         width: 100%;
         margin-top: 10px;
     }

     .got-navbar {
         display: flex;
         left: 0;
         top: 37px;
         width: 100%;
         height: 42px;
         align-items: center;
     }

     .got-navbar-toggle-btn {
         display: flex;
         background: none;
         border: none;
         font-size: 14px;
         cursor: pointer;
         color: #2c3e50;
         margin-right: 10px;
         width: 15px;

     }

     .got-navbar.got-expanded {
         left: 0px;
     }

     .got-main-content.got-expanded {
         margin-left: 0px;
     }

     .got-main-content {
         margin-left: 0;
         margin-top: 80px;
     }
 }
